In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from utils.db_utils import *
from utils.data_utils import *
from cleaning_utils import *
from cleaning_helpers import *

In [3]:
logger = logging.getLogger(__name__)

## Hercules DB

In [4]:
from utils.query_utils import get_query

query_wrong_meth = get_query("QUERY_WRONG_METH")
query_varchar_attribs = get_query("QUERY_VARCHAR_ATTRIBS")
query_primary_attribs = get_query("QUERY_PRIMARY_ATTRIBS")
query_unit_mapping = get_query("QUERY_UNIT_MAPPING")

wrong_methods_attributes = df_from_query(query_wrong_meth)
varchar_attributes = df_from_query(query_varchar_attribs)
primary_attributes = df_from_query(query_primary_attribs)
unit_mapping = df_from_query(query_unit_mapping)

2025-06-08 18:56:07,976 - INFO - Creating database engine for source: raptor_catalog
2025-06-08 18:56:08,017 - INFO - Creating pandas DataFrame from query: SELECT *
FROM hercules_db.ce_wrong_meth
, attempt 1
2025-06-08 18:56:09,324 - INFO - Creating pandas DataFrame from query: SELECT attribute_name
FROM hercules_db.ce_varchar_attributes
, attempt 1
2025-06-08 18:56:09,553 - INFO - Creating pandas DataFrame from query: SELECT l3_name, attribute_name
FROM views.l3_a
WHERE attribute_type = 'primary'
, attempt 1
2025-06-08 18:56:10,369 - INFO - Creating pandas DataFrame from query: SELECT units, display, type, space, separator, range,
       system_of_measurement, fraction_multip, attempt 1

## Data

In [11]:
# categorical_test = pd.read_csv("/home/abhishek/projects/cleaning/data/old/categorical_source_test.csv", low_memory=False)
# categorical2_test = pd.read_csv("/home/abhishek/projects/cleaning/data/old/categorical2_source_test.csv", low_memory=False)
# range1_test = pd.read_csv("/home/abhishek/projects/cleaning/data/old/range1_source_test.csv", low_memory=False)
# varchar_test = pd.read_csv("/home/abhishek/projects/cleaning/data/old/varchar_source_test.csv", low_memory=False)
# n_with_u_test = pd.read_csv("/home/abhishek/projects/cleaning/data/old/n_with_u_source_test.csv", low_memory=False)
# total_test = pd.read_excel("/home/abhishek/projects/cleaning/data/old/cleaning_issues_23_april.xlsx")

# categorical_test = ce_start_cleanup(categorical_test)
# categorical2_test = ce_start_cleanup(categorical2_test)
# range1_test = ce_start_cleanup(range1_test)
# varchar_test = ce_start_cleanup(varchar_test)
# n_with_u_test = ce_start_cleanup(n_with_u_test)
# total_test = ce_start_cleanup(total_test)

df = ensure_pd_df("/Users/abhishekpathak/projects/cleaning/data/sealmaster_to_cleaning.xlsx")

In [5]:
df.columns

Index(['MPN', 'Brand', 'entity_id', 'int_pid', 'l3_name', 'Attribute',
       'Value'],
      dtype='object')

In [12]:
df = df.loc[:, ["int_pid", "l3_name", "Attribute", "Value"]]
df.rename(columns={"Attribute": "attribute_name", "Value": "attribute_value"}, inplace=True)

In [13]:
df.head()

,int_pid,l3_name,attribute_name,attribute_value
0,2003615,Mounted Bearings,ability to relubricate,rp_Yes
1,2003614,Mounted Bearings,ability to relubricate,rp_Yes
2,2003607,Ball Screw Support Bearings,ability to relubricate,rp_Yes
3,2003606,Ball Screw Support Bearings,ability to relubricate,rp_No
4,2003601,Ball Screw Support Bearings,ability to relubricate,rp_Yes

In [14]:
df.to_csv("/Users/abhishekpathak/projects/cleaning/data/sealmaster_to_cleaning.csv", index=False)

In [15]:
df.columns

Index(['int_pid', 'l3_name', 'attribute_name', 'attribute_value'], dtype='object')

In [8]:
from ce_new.ce_new import run_cleanup_pipeline

In [6]:
df = ensure_pd_df("/Users/abhishekpathak/projects/cleaning/data/sealmaster_to_cleaning.csv")

In [9]:
run_cleanup_pipeline(
    df,
    unit_mapping,
    "/Users/abhishekpathak/projects/cleaning/data/cleaning_otp"
)

2025-06-08 19:12:05,176 - INFO - Starting cleanup pipeline with base directory: /Users/abhishekpathak/projects/cleaning/data/cleaning_otp
2025-06-08 19:12:05,176 - INFO - Input DataFrame has 89242 rows and 4 columns.
2025-06-08 19:12:05,380 - INFO - After initial cleanup, 89242 rows remain.
2025-06-08 19:12:05,381 - INFO - Starting clean_numerical_unit on 89242 rows.
2025-06-08 19:12:05,500 - INFO - 29604 rows matched regex; 59638 did not.
2025-06-08 19:12:05,779 - INFO - Finished clean_numerical_unit: 29604 passed, 0 had errors, 59638 did not match.
2025-06-08 19:12:05,849 - INFO - Starting clean_numerical_unit on 59638 rows.
2025-06-08 19:12:05,872 - INFO - Finished clean_thread: 0 passed, 2332 had errors, 57306 did not match.
2025-06-08 19:12:05,881 - INFO - Starting clean_dimension_values with separator: [' x ', ' X '] on 57306 rows.
2025-06-08 19:12:06,072 - INFO - Starting clean_numerical_unit on 57306 rows.
2025-06-08 19:12:06,136 - INFO - 0 rows matched regex; 57306 did not.
2025-06-08 19:12:06,147 - INFO - Finished clean_numerical_unit: 0 passed, 0 had errors, 57306 did not match.
2025-06-08 19:12:06,154 - INFO - Finished clean_dimension_values: 0 passed, 0 had errors, 57306 did not match.
2025-06-08 19:12:06,160 - INFO - Starting clean_range_with_to_and_plus_minus on 57306 rows.
2025-06-08 19:12:06,160 - INFO - Starting clean_dimension_values with separator: [' to ', '/', ' / '] on 57306 rows.
2025-06-08 19:12:06,412 - INFO - Starting clean_numerical_unit on 59324 rows.
2025-06-08 19:12:06,479 - INFO - 24 rows matched regex; 59300 did not.
2025-06-08 19:12:06,491 - INFO - Finished clean_numerical_unit: 24 passed, 0 had errors, 59300 did not match.
2025-06-08 19:12:06,498 - INFO - Finished clean_dimension_values: 24 passed, 0 had errors, 59300 did not match.
2025-06-08 19:12:06,509 - INFO - Starting unit standardization.
2025-06-08 19:12:06,524 - INFO - Unit standardization complete: 22 valid, 0 invalid.
2025-06-08 19:12:06,524 - INFO - Starting unit standardization.
2025-06-08 19:12:06,539 - INFO - Unit standardization complete: 22 valid, 0 invalid.
2025-06-08 19:12:06,540 - INFO - Finished clean_range_with_to_and_plus_minus: 22 passed, 0 had errors, 59300 did not match.